.cart {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .cart:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .cart h2 {
    color: #333;
    font-size: 2em;
  }
  
  .cart p, .cart ul {
    color: #888;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart li {
    margin: 10px 0;
  }
  
  
  @keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .product, .cart {
    animation: slideIn 0.5s ease-out;
  }